
body {
  font-family: "Concert One", cursive;
  font-size: 16px; 
}

input {
  height: 30px;
  width: 50%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
  }

#firstbutton {
  float:right;
}

.list-group {
 color: black;
  text-align: left;
  
  
}
.btn {
  width: 20%;
  float: right;
}

#datetime {
  text-align: center;
  font-size: 30px;
}


ul {
  color: black;
}

* li {
  color: black;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
} */
 */
/* li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff9500;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
} */
 
